<%- include('includes/admin_header'); -%>


        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <%- include('includes/left_nav'); -%>
        <div class="dashboard-wrapper">
            <div class="container-fluid  dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            
                            
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->
              
             <a href="/add_banner"> <button  class="btn btn-danger btn-lg mb-4">Add Banner</button>
             </a>    
                <div class="row">
                    <!-- ============================================================== -->
                    <!-- data table multiselects  -->
                    <!-- ============================================================== -->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">

                          
                          
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table   class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th scope="col">No</th>
                                             
                                              
                                              
                                              
                                             
                                                
                                               
                                                <th scope="col">Images</th>
                                             
                                               
                                              
                                              </tr>
                                        </thead>
                                        <% banner.forEach(function(banner,index) { %>
                                        <tbody>
                                            <tr>
<td>
    <%= index+1 %>
</td>
                                       
                                           <td>
                                            <% for (var i =0; i < banner.image.length;  i++ ) { %>
                                            <img style="width: 100px;"  src="/<%= banner.image[i] %>">
                                            <% } %>
                                           </td>

                                            
                                         <td>
                                            
                                            <a href="/edit_banner/<%= banner._id %>" class="text-success">
                                                <i class="fas fa-edit fa-lg mx-1"></i>
                                            </a>
                                         </td>
                                         <td>
                                            <% if (banner.baner_status) { %>
                                              <form  action="/banner_list/<%= banner._id %>" method="post" style="display:inline;">
                                            
                                                <button type="submit" class="btn btn-success text-white"><i class="fa fa-thumbs-up"></i></button>
                                              </form>
                                            <% } else { %>
                                              <form action="/banner/unlist/<%= banner._id %>" method="post" style="display:inline;">
                                                <button type="submit" class="btn btn-danger text-white"><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
                                              </form>
                                            <% } %>
                                          </td>
                                          
                                         
                                         
                                            </tr>


                                         
                                          </tbody>
                                    
                                        <% }) %>
                                    </table>

                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    
                 
                   <!-- Button trigger modal -->

<!-- Modal -->


                    <!-- ============================================================== -->
                    <!-- end data table multiselects  -->
                    <!-- ============================================================== -->
                </div>
            </div>
            <!-- ============================================================== -->
           
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
        </div>


        <%- include('includes/admin_footer'); -%>